<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> stevenzchen at icloud dot com
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i> GitHub
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="https://www.twitch.tv/innerlightna">
              <i class="fa fa-twitch"></i> Twitch
          </li>
          {% if site.steam_username %}
          <li>
            <a href="https://steamcommunity.com/id/{{ site.steam_username }}">
              <i class="fa fa-steam-square"></i> Steam
          </li>
          {% endif %}
          <li>
            <a href="https://na.op.gg/summoner/userName=Inner+Light">
              <i class="fa fa-gamepad"></i> League
          </li>

    </div>

  </div>

</footer>
